
<html lang="en">
<head>
  <title>HELLO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
{% block content %}
<div class="card" style="margin:auto;margin-top:50px;width:800px;border-color:BLACK;">
    <div class="card-body">
    <h4 class="card-title">
    <div class="text-center">Welcome back {{first_name}} {{last_name}}</div >
    </h4 >
</div >
 <a class="btn btn-block btn-danger" style="margin:auto" href="{% url 'logout' %}">Log out</a>
{% endblock %}

</body>
</html>