
<html lang="en">
<head>
  <title>Create an Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
{% block content %}
<div class="card" style="margin:auto;margin-top:50px;width:800px;border-color:BLACK;">
    <div class="card-body">
    <h4 class="card-title">
    <div class="text-center">Login</div >
    </h4 >
    <form method="POST" class="form-group">
    {% csrf_token %}
    <p>Email:{{ form.username }}</p>
    <p>{{ form.password.label }}:{{ form.password }}</p>
    
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
    <button type="submit" class="btn btn-block btn-success" style="margin:auto">Login</button>
    </form>
     <a class="btn btn-block btn-primary" style="margin:auto" href="{% url 'register' %}">Don't have an account? Sign up here</a>
    </div>
</div>
{% endblock %}

</body>
</html>